In [1]:
import pandas as p

In [2]:
dataset=p.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=p.get_dummies(dataset)
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [4]:
dataset=p.get_dummies(dataset,drop_first=True)
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
# Input dataset

independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
# Output dataset

dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
# using SKLearn libraries model_selection, spliting input and output values for training-set values & test-set values

from sklearn.model_selection import train_test_split

In [9]:
# providing input parameters as independent, output parameters as dependent
# giving training_set data size as 70% & test_set data size as 30% of input and output dataset

train_test_split(independent,dependent,test_size=0.30,random_state=0)

[      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
 1163   18  28.215         0           1         0          1           0
 196    39  32.800         0           1         0          1           0
 438    52  46.750         5           1         0          1           0
 183    44  26.410         0           1         0          1           0
 1298   33  27.455         2           0         1          1           0
 ...   ...     ...       ...         ...       ...        ...         ...
 763    27  26.030         0           0         1          1           0
 835    42  35.970         2           0         1          1           0
 1216   40  25.080         0           0         1          1           0
 559    19  35.530         0           0         1          1           0
 684    33  18.500         1           1         0          1           0

 [936 rows x 7 columns],
       age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
 578    52  30.200         1           0         1          1           0
 610    47  29.370         1           1         0          1           0
 569    48  40.565         2           0         1          0           1
 1034   61  38.380         0           0         1          1           0
 198    51  18.050         0           1         0          1           0
 ...   ...     ...       ...         ...       ...        ...         ...
 1261   28  37.100         1           0         1          1           0
 494    21  25.700         4           0         1          0           1
 97     55  38.280         0           0         1          1           0
 418    64  39.160         1           0         1          1           0
 920    62  25.000         0           1         0          1           0

 [402 rows x 7 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns]]

In [10]:
# instead of getting all combined values in a single dataset, based on SKLearn splitting the values as 
# Training_input = x_train, Test_input = x_test and Training_Output = y_train, Test_output = y_test

x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

x_train # to view training - input values

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
1163   18  28.215         0           1         0          1           0
196    39  32.800         0           1         0          1           0
438    52  46.750         5           1         0          1           0
183    44  26.410         0           1         0          1           0
1298   33  27.455         2           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
763    27  26.030         0           0         1          1           0
835    42  35.970         2           0         1          1           0
1216   40  25.080         0           0         1          1           0
559    19  35.530         0           0         1          1           0
684    33  18.500         1           1         0          1           0

[936 rows x 7 columns]

In [11]:
x_test # to view test - input values

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
578    52  30.200         1           0         1          1           0
610    47  29.370         1           1         0          1           0
569    48  40.565         2           0         1          0           1
1034   61  38.380         0           0         1          1           0
198    51  18.050         0           1         0          1           0
...   ...     ...       ...         ...       ...        ...         ...
1261   28  37.100         1           0         1          1           0
494    21  25.700         4           0         1          0           1
97     55  38.280         0           0         1          1           0
418    64  39.160         1           0         1          1           0
920    62  25.000         0           1         0          1           0

[402 rows x 7 columns]

In [12]:
y_train # to view training - output values

          charges
1163   2200.83085
196    5649.71500
438   12592.53450
183    7419.47790
1298   5261.46945
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[936 rows x 1 columns]

In [13]:
y_test # to view test - output values

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [14]:
# Applying Support Vector Machine Algorithm 
# based on SKLearn preprocessing Libraries, using StandardScaler()

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

# fit_tranform() calculates x_train values & transform to evaluate mean and std deviation output values
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [15]:
# based on SKLearn svm libraries, using GridSearchCV(),SVR()

from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],
              'C':[10,100,1000,2000,3000],'gamma':['auto','scale']}

grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3, n_jobs = -1)

# fitting the model for grid search

grid.fit(x_train,y_train)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    4.6s finished
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='auto_deprecated', kernel='rbf',
                           max_iter=-1, shrinking=True, tol=0.001,
                           verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [16]:
# # based on SKLearn svm libraries, using SVR()
# from sklearn.svm import SVR
# regressor = SVR(kernel='rbf',C=10000)
# regressor

In [17]:
# print best parameter after tuning
# print(grid.best_params_)
re = grid.cv_results_

print("The R-Score value for the best parameter {} :".format(grid.best_params_))

The R-Score value for the best parameter {'C': 3000, 'gamma': 'auto', 'kernel': 'poly'} :

In [18]:
# View in Table form

table = p.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.031243,2.973602e-07,0.010415,7.364178e-03,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",0.008642,-0.087398,-0.077975,-0.052244,0.043224,35
1,0.020828,7.364347e-03,0.010414,7.364122e-03,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.125055,0.035006,0.038888,0.066316,0.041565,32
2,0.031241,8.991328e-07,0.010415,7.364291e-03,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.067048,-0.026660,-0.021772,0.006205,0.043068,33
3,0.026035,7.363897e-03,0.005208,7.364797e-03,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",0.522545,0.472313,0.450747,0.481868,0.030080,23
4,0.026034,7.363897e-03,0.010414,7.364066e-03,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",0.008896,-0.087587,-0.078069,-0.052253,0.043413,36
5,0.020828,7.364235e-03,0.010414,7.364010e-03,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.119856,0.039144,0.041014,0.066671,0.037615,31
6,0.031243,1.123916e-07,0.010414,7.364122e-03,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.066245,-0.026154,-0.021514,0.006193,0.042506,34
7,0.026036,7.364010e-03,0.005207,7.363897e-03,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",0.522545,0.472313,0.450747,0.481868,0.030080,23
8,0.026035,7.364010e-03,0.015621,0.000000e+00,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",0.355879,0.248595,0.231731,0.278735,0.054982,29
9,0.026036,7.363954e-03,0.005207,7.364010e-03,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",0.656868,0.636877,0.596910,0.630218,0.024926,20
10,0.031242,2.247832e-07,0.015621,3.371748e-07,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.517419,0.469856,0.449156,0.478811,0.028579,25
11,0.031243,3.371748e-07,0.005207,7.364459e-03,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.612599,0.585757,0.575368,0.591241,0.015686,21
12,0.026036,7.364965e-03,0.010414,7.363841e-03,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",0.357778,0.247140,0.230992,0.278637,0.056348,30
13,0.020828,7.363954e-03,0.015663,5.156160e-03,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",0.650842,0.640619,0.599844,0.630435,0.022030,19
14,0.036345,7.216833e-03,0.008528,6.457243e-03,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.518908,0.468365,0.448867,0.478713,0.029515,26
15,0.031570,3.096128e-03,0.006784,6.540181e-03,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.612599,0.585757,0.575368,0.591241,0.015686,21
16,0.043108,5.311908e-03,0.000000,0.000000e+00,1000,auto,rbf,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}",0.736258,0.700793,0.670077,0.702376,0.027041,11
17,0.041656,7.364178e-03,0.010415,7.364178e-03,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",0.825916,0.815897,0.780361,0.807391,0.019546,5
18,0.031243,7.786718e-07,0.015621,5.840039e-07,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.379700,0.358052,0.292263,0.343339,0.037181,28
19,0.046865,1.946680e-07,0.000000,0.000000e+00,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.710103,0.621793,0.633886,0.655261,0.039093,13
20,0.041657,7.363673e-03,0.010414,7.364010e-03,1000,scale,rbf,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}",0.736912,0.700373,0.669692,0.702326,0.027477,12
21,0.041657,7.363504e-03,0.015621,2.247832e-07,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",0.825472,0.815568,0.780344,0.807128,0.019366,6
22,0.041657,7.364291e-03,0.010415,7.364235e-03,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",0.394192,0.363145,0.286505,0.347948,0.045257,27
23,0.041657,7.363616e-03,0.010414,7.364066e-03,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.710103,0.621793,0.633886,0.655261,0.039093,13
24,0.052071,7.363954e-03,0.005207,7.364010e-03,2000,auto,rbf,"{'C': 2000, 'gamma': 'auto', 'kernel': 'rbf'}",0.811207,0.794139,0.760490,0.788612,0.021071,10
25,0.068203,8.085451e-03,0.005207,7.363785e-03,2000,auto,poly,"{'C': 2000, 'gamma': 'auto', 'kernel': 'poly'}",0.827541,0.813567,0.782546,0.807885,0.018804,4
26,0.036708,6.205878e-03,0.016552,8.701204e-04,2000,auto,sigmoid,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-1.432636,-0.196653,-0.156047,-0.595112,0.592451,38
27,0.058497,8.386383e-03,0.005463,7.726135e-03,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.710019,0.621851,0.632611,0.654827,0.039273,15
28,0.044593,4.253905e-03,0.013590,3.269439e-03,2000,scale,rbf,"{'C': 2000, 'gamma': 'scale', 'kernel': 'rbf'}",0.811703,0.793862,0.760318,0.788628,0.021302,9
29,0.082948,2.322811e-02,0.001980,2.800461e-03,2000,scale,poly,"{'C': 2000, 'gamma': 'scale', 'kernel': 'poly'}",0.827554,0.813618,0.782775,0.807982,0.018710,3
30,0.035388,4.368121e-03,0.012905,5.389910e-03,2000,scale,sigmoid,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",-0.795721,-0.138744,-0.170147,-0.368204,0.302572,37
31,0.052071,7.363729e-03,0.010415,7.364291e-03,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.710019,0.621851,0.632611,0.654827,0.039273,15
32,0.052071,7.363785e-03,0.005207,7.363785e-03,3000,auto,rbf,"{'C': 3000, 'gamma': 'auto', 'kernel': 'rbf'}",0.817964,0.806866,0.774915,0.799915,0.018249,8
33,0.093728,2.209259e-02,0.000000,0.000000e+00,3000,auto,poly,"{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}",0.829720,0.813753,0.784931,0.809468,0.018534,1
34,0.046864,5.840039e-07,0.005207,7.363785e-03,3000,auto,sigmoid,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-4.344382,-1.138272,-2.813622,-2.765425,1.309332,39
35,0.072900,7.363729e-03,0.000000,0.000000e+00,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.709805,0.620592,0.632608,0.654335,0.039529,17
36,0.052071,7.364122e-03,0.005207,7.363673e-03,3000,scale,rbf,"{'C': 3000, 'gamma': 'scale', 'kernel': 'rbf'}",0.818354,0.806688,0.774836,0.799960,0.018392,7
37,0.072900,7.364684e-03,0.010415,7.364403e-03,3000,scale,poly,"{'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}",0.829620,0.813565,0.784948,0.809378,0.018476,2
38,0.041657,7.364628e-03,0.010415,7.364178e-03,3000,scale,sigmoid,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",-3.913399,-1.580485,-2.924709,-2.806198,0.956087,40
39,0.062486,1.275396e-02,0.010416,7.364909e-03,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.709805,0.620592,0.632608,0.654335,0.039529,17

In [19]:
# Check and verify

age_input=float(input("Age :"))
bmi_input=float(input("BMI :"))
children_input=float(input("Children :"))
sex_female_input=int(input("Sex: If female give value as 1 otherwise 0 -"))
sex_male_input=int(input("Sex: If male give value as 1 otherwise 0 -"))
smoker_no_input=int(input("Smoker: If non-smoker give value as 1 otherwise 0 -"))
smoker_yes_input=int(input("Smoker:If smoker give value as 1 otherwise 0 -"))

Age :34
BMI :24.3
Children :1
Sex: If female give value as 1 otherwise 0 -0
Sex: If male give value as 1 otherwise 0 -1
Smoker: If non-smoker give value as 1 otherwise 0 -0
Smoker:If smoker give value as 1 otherwise 0 -1

In [23]:
Future_Prediction = grid.predict([[age_input,bmi_input,children_input,sex_female_input,sex_male_input,smoker_no_input,smoker_yes_input]])
# Future_Prediction
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5089031.35639364]

In [21]:
# # saving the model by using pickle class/function

# import pickle
# filename="SupportVectorMachine_Model.sav"

# # dumping the model from regressor by using pickle dump(), open() with write-binary option
# pickle.dump(regressor,open(filename,'wb'))

In [22]:
# # load and check the Model whether it's working properly by using pickle functions-load(),open() with read-binary option
# loaded_model = pickle.load(open('SupportVectorMachine_Model.sav','rb'))

# # check and confirm the predicted output by inputting multiple input-values
# result = loaded_model.predict([[25,27,0,1,0,1,0]])
# result